.navbar {
  position: relative;
  background-color: #0a0826;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top:1px solid white;
  border-bottom: 1px solid white;
  padding:1rem 0;
  width:90%;
  margin:1.6rem auto;
  z-index: 1000;
}

.navbar__logo {
  font-weight: bold;
  font-size: 1.2rem;
  cursor:pointer;
}

.navbar__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar__menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.navbar__menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
    font-size:13.1477px;
}

.navbar__menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__contact {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}


.navbar__hamburger{
    display:none;
}

.services__dropdown {
  position: absolute;
  top: 100%; 
  left: 50%;
  width: 80%;
  display: flex;
   transform: translateX(-50%);
  justify-content: center;
  gap: 64px;
  background: white;
  color: black;
  padding: 32px 64px;
  border-radius: 24px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.navbar__dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.services__dropdown__columns{
    width:50%;
}

.services__dropdown__columns h4{
    margin-left: 12px;
}

.dropdown__column__design,.dropdown__column__development{
    display: flex;
    gap:1rem;
    width:100%;
}

.first{
    width:100%;
}
.dropdown__column__row{
    font-weight: 500;
    font-size: 15.026px;
    text-decoration: none;
    padding:.5rem 0;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    }

.dropdown__column__row:hover{
    background-color: #F5F5F7;
}

.hover-arrow {
  opacity: 0;
  transition: opacity 0.2s ease;
  color: #5125ff;
  font-size: 20px;
}

.dropdown__column__row:hover .hover-arrow {
  opacity: 1;
}

.navbar.no-border {
  border-bottom: none;
}

.resources__dropdown {
  position: absolute;
  top: 100%;
  left: 64%;
  transform: translateX(-50%);
  max-width:300px;
  width: 100%;
  background: white;
  color: black;
  padding: 24px 32px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resources__column {
  width: 100%;
}

.mobile__menu {
 position: absolute;
  top: 100%; 
  left: 50%;
  width: 90%;
  display: flex;
   transform: translateX(-50%);
  background: white;
  color:black;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 999;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobile__menu__list {
  width:100%;
  margin-top: 1rem;
  list-style: none;
  padding: 0;
  font-size: 26.6625px;
  font-weight: 500;
}

.mobile__menu__list li {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menu-image-modal {
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 32px 24px;
  z-index: 100;
}
.menu-image-modal img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

@media only screen and (max-width: 1020px) {
    .navbar__nav{
      display: none;
    }
    .navbar__hamburger{
      display: block;
    }
}
@media only screen and (max-width: 720px) {
    .navbar__right{
      display: none;
    }
}
